.hero-container {
	display: flex;
	justify-content: center;
	gap: var(--l-spacer, 24px);
	container-type: inline-size;
	width: 100%;
	.hero-content {
		gap: var(--l-spacer, 24px);
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: auto;
		max-width: 500px;
		.hero-title {
			font-size: 2.5rem;
			line-height: 3rem;
		}
		p {
			max-width: 60ch;
		}
	}
}

.dialog-container {
	display: flex;
	justify-content: flex-end;
	dialog {
		margin: auto;
		background-color: var(--secondary, #212121);
		outline: none;
		border: 2px solid var(--primary, #fff);
		border-radius: var(--l-radius, 12px);
		max-width: 500px;
		width: 100%;
		&::backdrop {
			background-color: #00000099;
		}

		&[open] {
			transition: display 1s allow-discrete, overlay 1s allow-discrete;
		}

		.dialog-content {
			height: fit-content;
			padding: var(--l-spacer, 24px);
		}
	}

	.dialog-button {
		min-width: 86px;
		outline: none;
		background-color: var(--primary, #fff);
		color: var(--secondary, #121212);
		border: 2px solid var(--primary, #fff);
		padding: var(--s-spacer, 8px);
		border-radius: var(--s-radius, 6px);
		cursor: pointer;
		position: relative;
		span {
			display: inline-flex;
		}

		&:hover {
			span {
				animation: wiggle 500ms linear;
				font-weight: bolder;
			}
		}

		&::after {
			content: '';
			position: absolute;
			height: 20px;
			width: 10px;
			background-color: var(--primary, #fff);
			right: -10px;
			bottom: 0px;
			clip-path: polygon(0 0, 100% 100%, 0 65%);
		}
	}
}

@container (width < 600px) {
	.dialog-container dialog {
		max-width: calc(100vw - 40px);
	}
}

@keyframes wiggle {
	0% {
		rotate: 0deg;
	}
	20% {
		rotate: -5deg;
	}
	40% {
		rotate: 5deg;
	}
	60% {
		rotate: -5deg;
	}
	80% {
		rotate: 5deg;
	}
	100% {
		rotate: 0deg;
	}
}
