@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'IBM Plex Mono', sans-serif;
	/* Hide scrollbar for Chrome, Safari and Opera */
	&::-webkit-scrollbar {
		display: none;
	}
	-ms-overflow-style: none;
	scrollbar-width: none;
}

body {
	background: #121212;
	color: var(--primary, #fff);
}

:root {
	/* SPACERS */
	--xxs-spacer: 4px;
	--xs-spacer: 8px;
	--s-spacer: 12px;
	--m-spacer: 16px;
	--l-spacer: 20px;
	--xl-spacer: 24px;
	/* ROUNDED */
	--s-radius: 8px;
	--m-radius: 12px;
	--l-radius: 16px;
	--full-radius: 999px;
	/* COLORS */
	--primary: #fff;
	--secondary: #121212;
	--success: #5cb85c;
	--error: #ff9494;
}

ul {
	list-style: none;
}

main {
	display: flex;
	flex-direction: column;
	gap: var(--m-spacer, 24px);
	padding: var(--m-spacer, 24px);
	scroll-snap-type: y mandatory;
	height: calc(100vh - 72px);
	overflow: scroll;
	scroll-behavior: smooth;
	max-width: 1500px;
	margin-inline: auto;
}

section {
	display: flex;
	flex-direction: column;
	gap: var(--m-spacer, 24px);
	min-height: calc(100vh - 72px);
	scroll-snap-align: center;
}

h1 {
	font-size: 2rem;
	line-height: 2.5;
	font-weight: 600;
}

h2 {
	font-size: 1.5rem;
	line-height: 2;
	font-weight: 500;
}

h3 {
	font-size: 1.125rem;
	line-height: 1.5;
	font-weight: 400;
}

p,
button,
a {
	font-size: 1rem;
	line-height: 1.2;
	font-weight: normal;
}

@media screen and (width <	 600px) {
	:root {
		/* PADDING */
		--xxs-spacer: 4px;
		--xs-spacer: 6px;
		--s-spacer: 8px;
		--m-spacer: 12px;
		--l-spacer: 14px;
		--xl-spacer: 26px;
	}

	main {
		padding: var(--m-spacer, 16px);
		gap: var(--m-spacer, 16px);
		min-height: calc(100vh - 64px);
	}

	section {
		align-content: center;
		gap: var(--m-spacer, 16px);
		min-height: calc(100vh - 64px);
	}

	h1 {
		font-size: 1.5rem;
		line-height: 2;
		font-weight: 600;
	}

	h2 {
		font-size: 1.2rem;
		line-height: 1.5;
		font-weight: 500;
	}

	h3 {
		font-size: 1rem;
		line-height: 1.2;
		font-weight: 400;
	}

	p,
	button,
	a {
		font-size: 0.825rem;
		line-height: 1;
		font-weight: normal;
	}
}
