* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	background: #121212;
	color: var(--white, #fff);
}

:root {
	/* SPACERS */
	--xxs-spacer: 4px;
	--xs-spacer: 8px;
	--s-spacer: 12px;
	--m-spacer: 16px;
	--l-spacer: 20px;
	--xl-spacer: 24px;
	/* ROUNDED */
	--s-radius: 8px;
	--m-radius: 12px;
	--l-radius: 16px;
	--full-radius: 999px;
	/* COLORS */
	--white: #fff;
}

ul {
	list-style: none;
}

main {
	display: flex;
	flex-direction: column;
	gap: var(--m-spacer, 24px);
	padding: var(--m-spacer, 24px);
}

section {
	display: flex;
	flex-direction: column;
	gap: var(--m-spacer, 24px);
}

@media screen and (width <	 600px) {
	:root {
		/* PADDING */
		--xxs-spacer: 4px;
		--xs-spacer: 6px;
		--s-spacer: 8px;
		--m-spacer: 12px;
		--l-spacer: 14px;
		--xl-spacer: 26px;
	}

	main {
		padding: var(--m-spacer, 16px);
		gap: var(--m-spacer, 16px);
	}

	section {
		gap: var(--m-spacer, 16px);
	}
}
