.form-container {
	display: flex;
	flex-direction: column;
	h2 {
		text-align: center;
		color: var(--primary, #fff);
	}

	.alert-message {
		padding: var(--xs-spacer, 6px);
		p {
			color: var(--primary, #fff);
			text-align: center;
		}
		&.error {
			background-color: var(--error, #ff2c2c);
		}
		&.success {
			background-color: var(--success, #5cb85c);
		}
	}

	form {
		display: flex;
		flex-direction: column;
		width: 100%;
		gap: var(--xs-spacer, 8px);
		label {
			display: flex;
			flex-direction: column;
			color: var(--primary, #fff);
			input,
			textarea {
				border-radius: var(--s-radius, 6px);
				border: none;
				outline: none;
				padding: var(--xs-spacer, 8px);
				color: var(--secondary, #121212);
			}
		}

		.get-in-touch-button {
			width: 100%;
			outline: none;
			color: var(--secondary, #121212);
			border: 1px solid var(--primary, #fff);
			padding: var(--s-spacer, 8px);
			border-radius: var(--s-radius, 6px);
			cursor: pointer;
			transition: all 150ms ease-out;
			position: relative;
			&:hover {
				background-color: transparent;
				color: var(--primary, #fff);
			}
			span {
				display: inline-flex;
				color: inherit;
			}
		}
	}
}
